.heading {
  font-size: 20px;
  text-transform: uppercase;
}

.horizontal-card {
  display: flex;
  background-color: #fff;
  padding: 12px;
  margin-bottom: 12px;
}

.card-image {
  flex-basis: 100%;
}

.card-title {
  font-size: 24px;
  line-height: 1.4;
  font-weight: bold;
}

.card-content {
  padding-left: 12px;
  color: #000;
}


@media (min-width: 992px) {
  .wrapper {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-gap: 16px;
  }
}
